.wrapper, .halfPage{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.wrapper{
    width: 50%;
}

.halfPage{
    width: 50%;
}