div{width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;

}

form{
    width: 100%;
    margin: 0 auto;
}
form div{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

form div div{
    margin: 10px;
}

.link{
    cursor: pointer;
}

.link:hover{
    text-decoration: underline #FCB901;
}